<html>
<body>
	<h1>
		LOGIN
	</h1>
	<form action="/login" method="POST">
		<p><h3>email</h3></p>
		<p><input type="text" name="email"/></p>
		<p><h3>password</h3></p>
		<p><input type="password" name="password"/></p>
		<p><input type = 'submit' value = 'Login'/></p>
	</form>
	<h1>
		REGISTER
	</h1>
	<form action = "/register" method = "POST">
		<p><h3>email</h3></p>
		<p><input type = 'text' name = 'email'/></p>
		<p><h3>Password</h3></p>
		<p><input type = 'password' name = 'password'/></p>
		<p><h3>Name</h3></p>
		<p><input type = 'text' name = 'name'/></p>
		<p><input type = 'submit' value = 'Register'/></p>
	</form>


</body>
</html>